<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios DB Storage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50CD78EA1F6E2F9700C753CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CD78FE1F6E2F9700C753CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CD79091F6E2F9700C753CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
